@inject IOptions<BaseEmailSenderOptions> _config
@model DischargeEmailModel

@{
  ViewBag.Subject = $"{@_config.Value.ServiceName} Notification: Horse Discharged";
}

<p>Dear @Model!.RecipientName,</p>

<p>Your horse was discharged on @Model.DischargeDate</p>

<p>We currently have an app available that contains the case information regarding your horses' castration.</p>

<p>If you are happy to be contacted further, we will be sending out periodic surveys in 1, 3, 5, and 7 days respectively to capture your observations of your horse during this period.</p>

<p>The app can be downloaded on the <a href="@Model.AppStoreLink">App Store</a> or <a href="@Model.PlayStoreLink">Play Store</a>.</p>

Many thanks,

@Model.VeterinarianName
